@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body{
	font-family: 'Raleway', sans-serif;
}

/* Designing of header*/

.img-header{
    width : 60%;
}

.nav-ul li a{
	color : black !important;
}

@media only screen and (min-width: 600px) {
   .nav-ul li {
    margin : 0 40px 0 10px;
   }
}

@media only screen and (min-width: 1000px) {
   .nav-ul li {
    margin : 0 60px 0 60px;
   }
}

.spacing {
  margin-bottom: 15% !important;
  margin-top : 8%;
}

input[type=submit] {
  background-color: Black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*social media icons */

.fa {
  padding: 5px;
  font-size: 10px;
  width: 20px;
  text-decoration: none;
  margin: 5px 0;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-google {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}